<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<ui:composition template="/WEB-INF/templates/master.xhtml">
		<ui:define name="content">
			<h1>Personas</h1>
			<h:form id="frm" enctype="multipart/form-data">
				<p:commandButton value="Nuevo" oncomplete="PF('wdlg').show()" actionListener="#{personaBean.limpiarControles()}" update="frm:dlg"/>
			
				<p:dataTable id="dt" var="e" value="#{personaBean.lista}"
					paginator="true" rows="5"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					rowsPerPageTemplate="5,10,15">
					
					<p:column headerText="Nombres Completos">
						<p:outputLabel value="#{e.nombres} #{e.apellidos}" />
					</p:column>

					<p:column headerText="Sexo">
						<p:outputLabel value="#{e.sexo}" />
					</p:column>

					<p:column headerText="País">
						<p:outputLabel value="#{e.pais}" />
					</p:column>

					<p:column headerText="Acciones" exportable="false">
						<p:commandLink actionListener="#{personaBean.mostrarData(e)}" oncomplete="PF('wdlg').show()" update="frm:dlg">
							<h:graphicImage library="images" name="edit.jpg" />
						</p:commandLink>
					</p:column>

				</p:dataTable>
				
				<p:dialog id="dlg" header="#{personaBean.tipoDialog}" widgetVar="wdlg" modal="true" resizable="false" draggable="true">
					<h:panelGrid columns="2">
						<p:outputLabel value="Nombres" />
						<p:inputText value="#{personaBean.persona.nombres}" />

						<p:outputLabel value="Apellidos" />
						<p:inputText value="#{personaBean.persona.apellidos}" />

						<p:outputLabel value="SEXO" />
						<p:inputText value="#{personaBean.persona.sexo}" />

						<p:outputLabel value="Direccion" />
						<p:inputText value="#{personaBean.persona.direccion}" />

						<p:outputLabel value="Pais" />
						<p:inputText value="#{personaBean.persona.pais}" />
						
						<p:outputLabel value="Foto" />
						<p:fileUpload value="#{personaBean.foto}" mode="simple" skinSimple="true" label="Examinar..."/>
						
						<h:column rendered="#{personaBean.persona.idPersona != 0}"/>							 
						<p:graphicImage value="/imagen/#{personaBean.persona.idPersona}"
							width="120" height="120"
							rendered="#{personaBean.persona.idPersona != 0}" />
					</h:panelGrid>
					<p:commandButton value="Registrar" actionListener="#{personaBean.operar('R')}" rendered="#{personaBean.tipoDialog == 'Nuevo'}" ajax="false"/>
					<p:commandButton value="Modificar" actionListener="#{personaBean.operar('M')}" rendered="#{personaBean.tipoDialog == 'Modificar'}" ajax="false"/>
				</p:dialog>
				
				 <h:commandLink value="Excel">      				
        			<p:dataExporter type="xls" target="dt" fileName="personas" pageOnly="true"/>
    			</h:commandLink>
 
			    <h:commandLink value="PDF">			        
			        <p:dataExporter type="pdf" target="dt" fileName="personas" pageOnly="true" />
			    </h:commandLink>
			 
			    <h:commandLink value="CSV">			        
			        <p:dataExporter type="csv" target="dt" fileName="personas" pageOnly="true" />
			    </h:commandLink>
			 
			    <h:commandLink value="XML">			        
			        <p:dataExporter type="xml" target="dt" fileName="personas" pageOnly="true" />
			    </h:commandLink>
			</h:form>
		</ui:define>
	</ui:composition>

</body>
</html>
