<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<ui:composition template="/WEB-INF/templates/master.xhtml">
		<ui:define name="content">

			<h1>Usuarios</h1>

			<h:form id="frm">
				<p:messages id="msgs" showDetail="false" />

				<h:panelGrid columns="3" cellpadding="8" style="margin-bottom:10px;">
					<p:inputText id="buscaUs" value="#{usuarioBean.nombreUsuario}"
						required="true" label="BuscaUs"
						requiredMessage="Por favor, ingrese un nombre de usuario." />
					<p:watermark for="buscaUs" value="Buscar Usuario" id="wtk" />

					<p:commandButton id="btnBuscar"  value="Buscar"
						actionListener="#{usuarioBean.buscarUsuario()}"
						onclick="PrimeFaces.cleanWatermarks();"
						oncomplete="PrimeFaces.showWatermarks();" update="frm:msgs,frm:dt" />
				</h:panelGrid>

				<p:dataTable id="dt" var="e" value="#{usuarioBean.listaUs}"
					paginator="true" rows="5"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					rowsPerPageTemplate="5,10,15">

					<p:column headerText="Nombre de Usuario">
						<p:outputLabel value="#{e.usuario}" />
					</p:column>

					<p:column headerText="Estado"
						style="width: 100px; text-align:center">
						<p:outputLabel value="#{e.estado}" />
					</p:column>

					<p:column headerText="" style="width: 125px; text-align:center">
						<p:commandButton value="Modificar"
							actionListener="#{usuarioBean.cargarDataUsuario(e)}"
							oncomplete="PF('wdlg').show();"
							update="frm:pg,frm:txtUs,frm:btnAceptar" />
					</p:column>
				</p:dataTable>

				<p:dialog id="dlg" header="" widgetVar="wdlg" modal="true"
					resizable="false" draggable="false">

					<f:facet name="header">
						<h:panelGroup
							style="display:block; text-align:left; margin:10px; font-size:15px; font-weight:bold">
							<h:outputText id="txtUs"
								value="Modificando Usuario: #{usuarioBean.usuario.usuario}" />
						</h:panelGroup>
					</f:facet>

					<h:panelGrid id="pg" columns="3" cellpadding="4"
						style="margin-bottom:20px;">
						<p:outputLabel for="txtUsuario" value="Usuario:" />
						<h:inputText id="txtUsuario" disabled="true"
							value="#{usuarioBean.usuario.usuario}" />
						<p:outputLabel />

						<p:outputLabel for="txtContraActual" value="Contraseña actual:" />
						<h:inputSecret id="txtContraActual"
							value="#{usuarioBean.passActual}" />
						<p:commandButton value="Verificar" for="txtContraActual"
							actionListener="#{usuarioBean.verificarPassword()}"
							update="frm:btnAceptar" />

						<p:message for="txtContraActual" />
						<p:outputLabel />
						<p:outputLabel />

						<p:outputLabel for="txtNewPass" value="Nueva contraseña:" />
						<h:inputSecret id="txtNewPass" value="#{usuarioBean.passNuevo}"
							label="TxtNewPass" match="txtRepPass"/>
						<p:message for="txtNewPass" display="text"/>

						<p:outputLabel for="txtRepPass" value="Repetir contraseña:" />
						<h:inputSecret id="txtRepPass" value="#{usuarioBean.passRepit}" label="TxtRepPass"/>
						<p:message for="txtRepPass" display="text"/>

						<f:facet name="footer">
							<h:panelGroup
								style="display:block; text-align:center; margin:10px;">
								<p:commandButton id="btnAceptar" value="Aceptar"
									disabled="#{usuarioBean.disable}"
									action="#{usuarioBean.actualizarPassword()}" oncomplete="PF('wdlg').hide()" />
								<p:commandButton id="btnCancel" value="Cancelar"
									oncomplete="PF('wdlg').hide()" />
							</h:panelGroup>
						</f:facet>
					</h:panelGrid>
				</p:dialog>
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>
